<?xml version="1.0"?>

<robot name="robotino_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel0_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel1_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel2_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>


    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>$(arg robot_name)/imu_link</bodyName>
            <topicName>imu_data</topicName>
            <serviceName>imu_service</serviceName>
            <gaussianNoise>0.05</gaussianNoise>
            <updateRate>200.0</updateRate>
        </plugin>
    </gazebo>

</robot>