<?xml version="1.0"?>

<robot name="robotino_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel0_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel1_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>

    <gazebo reference="$(arg robot_name)/wheel2_link">
        <mu1>0.01</mu1>
        <mu2>1</mu2>
        <fdir1>0 0 1</fdir1>
    </gazebo>


    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>$(arg robot_name)/imu_link</bodyName>
            <frameName>$(arg robot_name)/imu_link</frameName>
            <topicName>imu_data</topicName>
            <serviceName>imu_service</serviceName>
            <gaussianNoise>0.05</gaussianNoise>
            <updateRate>500</updateRate>
            <imu>
                <noise>
                <type>gaussian</type>
                <rate>
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                    <bias_mean>0.0000075</bias_mean>
                    <bias_stddev>0.0000008</bias_stddev>
                </rate>
                <accel>
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                    <bias_mean>0.1</bias_mean>
                    <bias_stddev>0.001</bias_stddev>
                </accel>
                </noise>
            </imu>
        </plugin>
    </gazebo>

</robot>